h1 {
    margin: 10px;
}

h1 a {
    font-size: 60%;
}

#show_name a {
    margin-left: 1em;
}

#edit_name {
    display: none;
}

#edit_name input {
    font-size: 100%;
}

table#properties {
    margin: 10px;
    border-collapse: collapse;
}

table#properties th, table#properties td {
    border: 1px solid gray;
    padding: 2px 5px;
}

table#properties th {
    text-align: right;
}
