div#player {
    margin: 10px;
}

div#player .slider {
    margin: 10px;
}

div#map {
    width: 800px;
    height: 600px;
    float: left;
    margin: 10px;
}

div#sidebar {
    width: 322px;
    float: right;
}

div.graph {
    width: 300px;
    height: 200px;
    border: 1px gray solid;
    margin: 10px;
}

div.graph canvas {
    position: absolute;
}

div#chart {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    padding: 10px;
    box-sizing: border-box;
    max-height: 10em;
    overflow-y: auto;
}

div#chart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

div#chart table th, div#chart table td {
    border: 1px solid gray;
    padding: 2px 5px;
}

div#chart table td {
    font-family: monospace;
    text-align: right;
}

div#chart table td.name {
    font-family: sans-self;
    text-align: left;
}

div#chart table td.color div {
    width: 40px;
    height: 5px;
    margin: 0 auto;
}

div#chart table td.status {
    text-align: center;
}
