div.file_selector {
    position: relative;
}

div.file_selector input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 126px;
    height: 34px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    font-size: 50px;
}

div.file_selector div {
    position: absolute;
    left: 0;
    top: 0;
}

div.file_selector div span {
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
