body {
    overflow: hidden;
}

h1 {
    margin: 10px;
}

table.properties {
    width: 300px;
    margin: 10px;
    border-collapse: collapse;
    font-size: 90%;
}

table.properties th, table.properties td {
    border: 1px solid gray;
    padding: 2px 5px;
}

table.properties th {
    text-align: right;
}
