div.uas {
    width: 600px;
    height: 600px;
}

div.properties {
    margin: 10px;
}

div.properties select, div.properties input {
    margin-left: 0.5em;
}

div.properties input[name="surfaceTemperature"],
div.properties input[name="surfaceDewPoint"] {
    width: 4em;
}
