div#map {
    width: 800px;
    height: 600px;
    float: left;
    margin: 10px 0 10px 10px;
}

div#map div.weatherOverlay div.item {
    position: absolute;
}

div#map div.weatherOverlay div.cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 0;
}

div#map div.weatherOverlay img.wind {
    width: 28px;
    height: 20px;
}

div#map div.weatherOverlay span.temperature {
    display: inline-block;
    color: white;
    width: 40px;
    height: 3ex;
    line-height: 3ex;
    font-size: 70%;
}

div#map div.weatherOverlay.amedas div.cell {
    padding: 3px;
}

div#map div.label {
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 5px;
    font-size: 120%;
}

div#sidebar {
    width: 322px;
    float: right;
    overflow: hidden;
}

div#sidebar ul.nav {
    margin: 10px;
}

div.graph {
    width: 300px;
    height: 200px;
    border: 1px gray solid;
    margin: 10px;
}

div.graph canvas {
    position: absolute;
}

div#waypoint {
    width: 302px;
    margin: 10px;
}

div#waypoint select {
    margin: 0 0 0 5px;
}

div#route {
    width: 302px;
    margin: 10px;
}

div#route label {
    margin: 0 5px 0 0;
}

div#route button {
    margin: 0 0 0 5px;
}

div#edit_route_modal select.waypoint {
    margin: 0 0 0 5px;
}

div#edit_route_modal table.waypoints {
    table-layout: fixed;
}

div#edit_route_modal table.waypoints th.name {
    width: 75%;
}

div#edit_route_modal table.waypoints td {
    vertical-align: middle;
}

div#edit_route_modal table.waypoints td.radius input {
    width: 5em;
    margin: 0 3px 0 0;
    text-align: right;
}
