body {
    overflow: hidden;
}

h1 {
    margin: 10px;
}

.label {
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 5px;
    font-size: 120%;
}
