<div class="component chart">
  <table>
    <thead>
      <tr>
        <th class="visible">
          <input type="checkbox" checked data-ng-model="visible" data-ng-change="changeVisible(visible)">
        </th>
        <th class="name">Name</th>
        <th class="color">Color</th>
        <th class="latitude">Latitude</th>
        <th class="longitude">Longitude</th>
        <th class="altitude">Altitude</th>
        <th class="ground_speed">Ground Speed</th>
        <th class="vertical_speed">Vertical Speed</th>
        <th class="status">Status</th>
        <th class="ld">L/D</th>
        <th class="average_climb">Average Climb</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="row in rows">
        <td class="visible">
          <input type="checkbox" data-ng-model="row.visible">
        </td>
        <td class="name">{{ row.name }}</td>
        <td class="color">
          <div style="background:{{ row.color }}"></div>
        </td>
        <td class="latitude">{{ row.position.latitude | position }}</td>
        <td class="longitude">{{ row.position.longitude | position }}</td>
        <td class="altitude">{{ row.position.altitude | altitude }}</td>
        <td class="ground_speed">{{ row.groundSpeed | speed }}</td>
        <td class="vertical_speed">{{ row.verticalSpeed | verticalSpeed }}</td>
        <td class="status">{{ row.status | status }}</td>
        <td class="ld">{{ row.ld | ld }}</td>
        <td class="average_climb">{{ row.averageClimb | averageClimb }}</td>
      </tr>
    </tbody>
  </table>
</div>
