<span class="volare_name"
  ><span data-ng-hide="editing"
    ><span>{{ name }}</span
    ><span
      ><span class="action glyphicon glyphicon-edit" data-ng-click="edit()"></span
      ><span class="action glyphicon glyphicon-trash" data-ng-click="delete()"></span
    ></span
    ><span ng-transclude></span
  ></span
  ><span data-ng-show="editing"
    ><input type="text" name="name" data-ng-model="name" data-ng-keydown="keydown($event)"
    ><span
      ><span class="action glyphicon glyphicon-ok" data-ng-click="save()"></span
    ></span
  ></span
></span>
