ul.uas-params {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.uas-params li {
    margin: 0;
}

ul.uas-params select, div.properties input {
    margin-left: 0.5em;
}

ul.uas-params input[type="number"] {
    width: 4em;
    text-align: right;
}
