<ul class="uas-params">
  <li>
    <label>Min Pressure
      <select data-ng-model="pressure">
        <option value="100">100</option>
        <option value="700">700</option>
      </select> hPa
    </label>
  </li>
  <li>
    <label>Surface Temperature
      <input type="number" data-ng-model="params.surfaceTemperature"> &#x2103;
    </label>
  </li>
  <li>
    <label>Surface Dew Point
      <input type="number" data-ng-model="params.surfaceDewPoint"> &#x2103;
    </label>
  </li>
  <li>
    <label>LCL
      <input type="number" data-ng-model="params.lcl.height" readonly> m
    </label>
  </li>
  <li>
    <label>Thermal Top
      <input type="number" data-ng-model="params.thermalTop.height" readonly> m
    </label>
  </li>
</ul>
